/*-*- mode: css; -*-*/
@import "launcher.rasi"

configuration {
    show-icons:                  false;
}

window {
    height:                      167px;
}

mainbox {
    children:                    [ "listbox" ];
}

element {
    padding:                     12px;
}
